{{#unless finished}}
  <div style="top: -1rem; left: calc(50% - 4rem)" class="flex items-center justify-center fixed w-32 h-32 rounded-full bg-white border-grey-darkest border-8 text-5xl font-black pt-3 shadow-lg">
    <span class="{{timer_color}}">
      {{count}}
    </span>
  </div>
{{/unless}}
