<ul>
  <li>
    {{#link-to 'index'}}
      Home
    {{/link-to}}
  </li>

  <li>
    {{#if finished}}
      {{#link-to 'results'}}
        Results
      {{/link-to}}
    {{else}}
      {{#link-to 'quiz_screen'}}
        Quiz
      {{/link-to}}
    {{/if}}
  </li>
</ul>
