{{#if showing_hold_screen}}
  <h1>
    Hold Screen!
  </h1>

  <p>
    Please wait for the next question to become available.
  </p>

{{else}}
  <h1>
    Answering screen!
  </h1>

  {{current-question
      question_number = question_number}}

  {{current-answers
      question_number=question_number
      user=user
      answered_state=answered_state
      users_who_answered=users_who_answered
      number_of_answers=users_who_answered.length}}
{{/if}}
