{{quiz-header
    finished=model.question.finished}}

<div class="text-center">
  <h1 class="mb-4">
    Here are the rules!
  </h1>

  <p class="mb-4">
    You'll see each question on this screen and on your phone. Your phones will have four answers to chose from. Choose which one you think is right!
  </p>

  <p class="mb-4">
    Once everyone has answered, we'll see the answer, who got it right and wrong, and the points they've gained. Then we'll move to the next question until the quiz is done.
  </p>

  <p class="mb-4">
    Your score is affected by <strong>speed and accuracy.</strong> The faster you get the right answer, the more points you get. But if you <strong>answer fast and get it wrong, you'll lose more points!</strong> So you need to be both fast and careful!
  </p>

  <p class="mb-4">
    At the end, everyone's final point tallies (and their real names) will be revealed!
  </p>

  {{tw-button
        text="Let's Begin!"
        action_1=(action 'start_quiz')}}
</div>
