<h1>
  Welcome to the quiz show!
</h1>

<p>
  Use the QR code below to get ready.
</p>

<img src="https://www.lorempixel.com/g/400/400/" alt="">

<br><br>

{{#link-to 'explaination' class="bg-blue color-white"}}
  Everyone signed up?
{{/link-to}}
