<h1>
  {{ basic_info.title }}
</h1>

<p>
  {{ basic_info.subheading }}
</p>

<img src="{{ basic_info.qr_code }}" alt="">

<br><br>

{{#link-to 'user.new' class="bg-blue color-white"}}
  Direct link for new user
{{/link-to}}

<br><br>

{{#link-to 'explaination' class="bg-blue color-white"}}
  Everyone signed up?
{{/link-to}}

{{quiz-footer
    finished=model.question.finished}}
