<div class="text-center">
  <h1 class="mb-6">
    Halt!
  </h1>

  <p class="mb-4">
    It's dangerous up ahead! Affirm your strength by entering the login info.
  </p>

  {{#if failed_login}}
    <div class="p-4 mb-green-lighter">
      <p>
        WRONG!
      </p>
    </div>
  {{/if}}

  <div class="mb-4">
    {{ input value=username placeholder="Username" class="border p-2 rounded" }}
  </div>

  <div class="mb-4">
    {{ input value=password placeholder="Password" class="border p-2 rounded" type="password" }}
  </div>

  {{tw-button
      text="Login"
      action_1=(action 'login' username password)}}
</div>
