<h1>
  Halt!
</h1>

<p>
  It's dangerous up ahead! Affirm your strength by entering the login info.
</p>

{{#if failed_login}}
  <p>
    WRONG!
  </p>
{{/if}}

{{ input value=username placeholder="Username" class="border p2" }}

{{ input value=password placeholder="Password" class="border p2" type="password" }}

{{tw-button
    text="Login"
    action_1=(action 'login' username password)}}
