<h1>
  Listing all the Results here!
</h1>

{{#each organized_results as |user|}}
  {{user-item
      user=user
      results_state=true
      show_points=revealed_names
      show_names=revealed_names}}
{{/each}}

<br><br>

<button {{ action 'reveal_names' }}>
  Reveal the names!
</button>
