{{quiz-footer
    finished=model.question.finished}}

<h1>
  Listing all the Results here!
</h1>

{{#each organized_results as |user|}}
  {{user-item
      user=user
      results_state=true
      show_points=revealed_names
      show_names=revealed_names}}
{{/each}}

{{tw-button
    text="Reveal the names!"
    action_1=(action 'reveal_names')}}

{{tw-button
      text="Reset Quiz"
      action_1=(action 'reset_quiz_state')}}
